<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<link rel="stylesheet"
	href="node_modules/angular-material/angular-material.css">
</head>
<title>Smart Clock</title>
<meta name="viewport"
	content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
<link rel="stylesheet"
	href="bower_components/angular-material/angular-material.min.css">
<link rel="stylesheet"
	href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
<link rel="stylesheet"
	href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>

<body ng-app="inputApp">
	<div id="inputContainer" ng-controller="inputController as ctrl"
		ng-cloak>
		<md-content layout-padding>
		<form name="formProjeto">
			<md-input-container class="md-block"> <label>Usuário</label>
			<input required name="usuario" ng-model="project.usuario">
			<div ng-messages="formProjeto.usuario.$error">
				<div ng-message="required">Obrigatório.</div>
			</div>
			</md-input-container>
			<md-input-container class="md-block"> <label>Email</label>
			<input required type="email" name="emailUsuario"
				ng-model="project.emailUsuario" minlength="10" maxlength="100"
				ng-pattern="/^.+@.+\..+$/" />
			<div ng-messages="formProjeto.emailUsuario.$error" role="alert">
				<div
					ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
					Seu email deve conter entre 10 e 100 caracteres de tamanho e deve
					ser um endereço válido.</div>
			</div>
			</md-input-container>
			<md-input-container class="md-block"> <label>Comentários</label>
			<input md-maxlength="300" required name="comentarios"
				ng-model="project.comentarios">
			<div ng-messages="formProjeto.comentarios.$error">
				<div ng-message="required">Obrigatório.</div>
				<div ng-message="md-maxlength">Os comentários devem ter menos
					de 300 caracteres.</div>
			</div>
			</md-input-container>
		</form>
		</md-content>
	</div>


	<!-- Angular Material requires Angular.js Libraries -->
	<script src="bower_components/angular/angular.js"></script>
	<script src="bower_components/angular-material/angular-material.min.js"></script>
	<script src="bower_components/angular-animate/angular-animate.js"></script>
	<script src="bower_components/moment/moment.js"></script>
	<script src="bower_components/moment/locale/de.js"></script>
	<script src="bower_components/angular-moment/angular-moment.js"></script>
	<script src="bower_components/angular-aria/angular-aria.js"></script>
	<script type="text/javascript">
		angular.module('aloMundo', [ 'ngMaterial' ]);
	</script>
</body>
</html>